* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: black;
    color: white;
}

#game {
    max-width: 200px;
    margin: 0 auto;
}

ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

li {
    list-style: none;
    padding: 10px 20px;
    min-width: 50px;
    height: 40px;
    background-color: darkblue;
    position: relative;
}